
body{
    background-color: #0b1120;
    text-decoration: rgb(198, 220, 239);
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .App-contact{
    padding: 8%;
    padding-bottom:0%;
    padding-top:4%;
  }
  
  div.profile{
    border-radius: 10px;
    padding: 15px;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(47, 51, 72, 0.5);
  }
  
  div.profile-photo{
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .App-logo{
    border-radius: 25px;
    max-width: none ;
    max-width: 52;
    max-height: 52;
    min-width: 36;
    min-height: 36;
  }
  
  #profile-CV {
    font-size: large; 
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 20px;
    left: 85px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #4166a1;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #profile-CV:hover{
    background-color: #062454;
    color: aliceblue;
    transition: color 0.5s ease;
  }
  #profile-CV fa-icon {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  #profile-CV fa-icon:hover {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .profile-name{
    text-decoration-color: aliceblue;
    width: fit-content;
    height: fit-content;
    padding-top : 10px;
    margin: 0%;
    position: static;
  
  }
  .profile-designation{
    width: fit-content;
    height: fit-content;
    padding-top : 5px;
    padding-bottom: 10px;
    margin: 0%;
    position: static;
    top: 30px;
    left: 0px;
  }
  
  div.contact-info{
    display: flex;
    background-color: rgba(69, 76, 110, 0.5);
    border-radius: 20px;
    padding:20px;
    margin: 10px;
    align-items:baseline;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
  }
  div.contact-info p{
    color: rgb(224, 242, 249);
    text-align: justify;
    padding: 3.5px;
    margin: 0%;
  }
  div.contact-info h4{
    color: rgb(224, 242, 249);
    text-align: justify;
    margin-top: 30px;
  }
  div.contact-info h1{
    font-size: xx-large;
    color: whitesmoke;
  }
  div.contact-info h2{
    margin-bottom: 20px;
    color: whitesmoke;
  }
  
  .contact-extra{
    margin-top: 30px;
    min-width: 600px;
    flex-wrap: wrap;
    align-items:center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work-status{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #c7d6ed;
  }
  .project-status{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #c7d6ed;
  }
  .location-status{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #c7d6ed;
  }

  .contact{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .contact-links{
    border-radius: 10px;
    padding: 20px;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    background-color: rgba(47, 51, 72, 0.5);
  }
  #linkedin-links fa-icon {
    font-size: 50px;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  #linkedin-links fa-icon:hover {
    color: #3ac4ff;
  }
  #github-links fa-icon {
    font-size: 50px;
    color: #d4d4d4;
    transition: color 0.3s ease;
  }
  
  #github-links fa-icon:hover {
    color: #808387;
  }
  #website-links fa-icon {
    font-size: 50px;
    color: #8ec3f8;
    transition: color 0.3s ease;
  }
  
  #website-links fa-icon:hover {
    color: #0056b3;
  }

  .skill{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2px;
    padding-bottom: 3%;
    
  }
  .skill-section{
    background-color:rgba(47, 51, 72, 0.5);
    border-radius: 10px;
    padding: 5%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
  }
  .skill-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .skill-seperations{
    align-items: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    max-width: 90%;
    padding-left: 6%;
  }

  .skill-python{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;

  }
  .skill-python-link{
    text-decoration: none;
    color: aliceblue;

  }
  .skill-level-python{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-python{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-python{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-python{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-python{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-python{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
 
  .skill-java{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-java-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-java{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-java{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-java{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-java{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-java{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-java{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
 
  .skill-csharp{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-csharp-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-csharp{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-csharp{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-csharp{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-csharp{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-csharp{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-csharp{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
 
  .skill-javascript{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-javascript-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-javascript{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-javascript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-javascript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-javascript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-javascript{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-javascript{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-react{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-react-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-react{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-react{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-react{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-react{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-react{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-react{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-typescript{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-typescript-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-typescript{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-typescript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-typescript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-typescript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-typescript{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-typescript{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-next{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-next-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-next{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-next{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-next{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-next{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-next{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-next{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-materialui{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-materialui-link{
    text-decoration: none;
    color: rgb(248, 248, 248);
  }
  .skill-level-materialui{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-materialui{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-materialui{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-materialui{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-materialui{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-materialui{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }


  .skill-bootstrap{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-bootstrap-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-bootstrap{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-bootstrap{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-bootstrap{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-bootstrap{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-bootstrap{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-bootstrap{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-tailwind{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-tailwind-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-tailwind{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-tailwind{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-tailwind{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-tailwind{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-tailwind{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-tailwind{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-django{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-django-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-django{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-django{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-django{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-django{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-django{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-django{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-sql{
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    padding: 2%;
  }
  .skill-sql-link{
    text-decoration: none;
    color: aliceblue;
  }
  .skill-level-sql{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;

  }
  .skill-level1-sql{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level2-sql{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level3-sql{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level4-sql{
    background-color: #d4d4d4;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }
  .skill-level5-sql{
    background-color: #636262;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 35px;
    height: 7px;
  }

  .skill-needed-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 30%;
    padding-left: 6%;
    color: #d4d4d4;
  }
  .skill-needed-aws{
    background-color:#c9c9c9 ;
    padding: 4px;
    border-radius: 5px;
  }
  .skill-needed-astro{
    background-color:#c9c9c9 ;
    padding: 4px;
    border-radius: 5px;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  