

<main class="main">
  <div class="App">
    <body class="App-body"> 

      <section class='App-contact'>
        <div id='profile' class="profile">
            <div id='profile-photo' class="profile-photo">
            <img fit="cover" alt="Vasanthkumar_Image" class="App-logo" width="320" height="320" src="/Vas_Prof.png" loading="lazy" decoding="async">
            <a id="profile-CV" target="_blank" href="/Vasanthkumar_Ramamoorthi_CV.pdf" class="profile-CV"  >
              <fa-icon [icon]="['fas', 'file-pdf']"></fa-icon> Download CV</a>
            </div>
            <div id ="contact-info" class='contact-info'>
              <h1 class="profile-name" >Vasanthkumar Ramamoorthi</h1>
              <h2 class="profile-designation" >Master's in Computer Science</h2>
              <p>Phone Number:  +1 425 457 4619</p>
              <p>Email:         vas.ram.2620&#64;gmail.com</p>
              <p>Location:      Chicago, Illinois</p>
              <p>Salary range:  NA</p>
              <h4>Experienced Backend Developer and DevOps Engineer with 2 years of proven expertise in designing, developing, and deploying scalable and efficient solutions.
                Proficient in Python, C# .Net, MVC, and Django, with a track record of consistently 
                delivering high-quality, scalable solutions. Known for conceptualizing and implementing 
                innovative features, resulting in enhanced user experiences and heightened customer satisfaction. 
                Recognized for achieving exceptional results, including consistently surpassing project 
                milestones and optimizing application performance to elevate user satisfaction.</h4>
                <div id='contact-extra' class='contact-extra'>
                  <div class='work-status'>
                    Open for work
                  </div>
                  <div class='project-status'>
                    Wroking on self projects
                  </div>
                  <div class='location-status'>
                    Interested in relocating for work
                  </div>
                </div>
            </div>
        </div>
      </section>

      <section class="contact">
        <div id="contact_links" class="contact-links">
          <div id='linkedin-links'> 
            <a href="https://www.linkedin.com/in/vasanthkumar-r-923748181" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
          </div>
          <div id='github-links'> 
            <a href="https://www.linkedin.com/in/vasanthkumar-r-923748181" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
          </div>
          <div id='website-links'> 
            <a href="https://www.linkedin.com/in/vasanthkumar-r-923748181" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="['fas', 'globe']"></fa-icon>
            </a>
          </div>
        </div>
      </section>

      <section  class="App-Button">
          <button>
            Project
          </button>
          <button>
            Education
          </button>
          <button>
            Experiance
          </button>
          <button>
            Internship
          </button>
          <button>
            Certification
          </button>
      </section>

  </body>
    
</div>
</main>

<router-outlet />
